---
import BaseLayout from '../layouts/BaseLayout.astro';

import LandingHero from '../components/LandingHero.jsx';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <div class="min-h-screen">
    <LandingHero client:load />
  </div>

  <Footer />
</BaseLayout>

<style>
  body {
    @apply relative h-full dark:bg-black;
  }
</style>
