---
import BaseLayout from '@/layouts/BaseLayout.astro';

import FloatingGim from '@/components/FloatingGim.jsx';
import OfficerCard from '@/components/OfficerCard.astro';

import { Icon } from 'astro-icon/components';
import { buttonVariants } from '@/components/ui/button';
import { cn } from '@/lib/utils';
---

<BaseLayout>
  <div class="flex min-h-screen items-center overflow-x-hidden">
    <div
      class="relative mx-auto flex w-full max-w-3xl flex-col-reverse items-center justify-center gap-x-4 gap-y-12 px-6 pb-20 pt-6 md:pt-20 md:min-h-screen md:flex-row dark:text-white"
    >
      {/* Intro text */}
      <div class="relative flex cursor-default flex-col">
        <h1
          class="z-20 mb-4 font-pixel text-4xl font-black leading-[1em] tracking-tighter md:text-5xl md:leading-[1em]"
        >
          MIT GAME DEVELOPERS GUILD
        </h1>
        <p>
          We meet every Wednesday from 7 to 9 pm in 4-145. Come hang out and
          build games! Sometimes we have snacks too.
        </p>

        <a
          class={cn(
            buttonVariants({ variant: 'primary', size: 'lg' }),
            'mt-4 h-12 gap-4',
          )}
          href="https://discord.com/invite/AadahPesme"
        >
          <Icon name="simple-icons:discord" />
          <span>Join the Discord</span>
        </a>
        <a
          class={cn(
            buttonVariants({ variant: 'default', size: 'lg' }),
            'mt-4 h-12 gap-3',
          )}
          href="/the-game"
        >
          <span>OUR GAME</span>
          <Icon name="lucide:arrow-right" />
        </a>
      </div>

      {/* Gim!! */}
      <div class="-my-10 -ml-10 -mr-16 h-96 w-96 shrink-0">
        <FloatingGim client:load />
      </div>
    </div>
  </div>

  {
    /* <div
    class="flex min-h-96 justify-center border-t dark:border-neutral-700 dark:text-white"
  >
    <div class="mx-auto w-full max-w-3xl px-6 py-20">
      <h1 class="mb-4 font-pixel text-3xl font-black uppercase">Officers</h1>

      <div class="flex gap-8">
        <OfficerCard
          name="William Y. Feng"
          position="webmaster"
          description="william makes the site and stuff"
        />
      </div>
    </div>
  </div> */
  }
</BaseLayout>

<style>
  body {
    @apply bg-transparent;
    font-size: 110%;

    /* Add a little scrolling grid of dots :) */
    background-size: 40px 40px;
    animation: moveBackground 6s linear infinite;
    background-image: radial-gradient(
      circle,
      #00000080 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-image: radial-gradient(
        circle,
        #ffffff40 1px,
        rgba(0, 0, 0, 0) 1px
      );
    }
  }

  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
</style>
