---
import { Icon } from 'astro-icon/components';
import { buttonVariants } from './ui/button';
---

<div
  class="w-full bg-neutral-50 px-6 py-10 text-sm dark:bg-neutral-950 dark:text-white"
>
  <!-- Content within black background -->
  <div
    class="mx-auto grid max-w-4xl grid-rows-3 gap-4 md:grid-cols-4 md:grid-rows-1"
  >
    <div>
      <p class="mb-1 font-bold">Links</p>
      <div class="flex gap-2">
        <a
          class={buttonVariants({ variant: 'outline', size: 'icon' })}
          href="https://github.com/mit-gdg"
        >
          <Icon name="lucide:github" class="" />
        </a>
        <a
          class={buttonVariants({ variant: 'outline', size: 'icon' })}
          href="https://discord.com/invite/AadahPesme"
        >
          <Icon name="simple-icons:discord" class="" />
        </a>
      </div>
    </div>

    <div>
      <p class="font-bold">Contact</p>
      <a href="mailto:gdg-exec@mit.edu">gdg-exec@mit.edu</a>
    </div>

    <div class="md:col-span-2">
      <p class="font-bold">Accessibility</p>
      <p class="text-muted dark:text-muted-dark">
        MIT is committed to providing an environment that is accessible to
        individuals with disabilities. If you cannot access content or use
        features on our website due to a disability, please let us know.
      </p>
    </div>
  </div>
</div>

<style>
  a {
    @apply text-muted dark:text-muted-dark underline;
  }
</style>
