---
import { Icon } from 'astro-icon/components';
import { buttonVariants } from './ui/button';
---

<script is:inline defer>
  // Email-deobfuscation
  const email = atob('Z2RnLWV4ZWNAbWl0LmVkdQ==');
  window.onload = () => {
    const linkEl = document.querySelector('#email-link');
    linkEl.href = `mailto:${email}`;
    linkEl.innerText = email;
  };
</script>

<div class="w-full bg-neutral-50 text-base dark:bg-neutral-950 dark:text-white">
  <div
    class="mx-auto grid max-w-3xl grid-rows-3 gap-4 px-6 py-10 md:grid-cols-3 md:grid-rows-1"
  >
    <div>
      <p class="mb-1 font-bold">Links</p>
      <div class="flex gap-2">
        <a
          class={buttonVariants({ variant: 'outline', size: 'icon' })}
          href="https://github.com/mit-gdg"
        >
          <Icon name="simple-icons:github" />
        </a>
        <a
          class={buttonVariants({ variant: 'outline', size: 'icon' })}
          href="https://discord.com/invite/AadahPesme"
        >
          <Icon name="simple-icons:discord" />
        </a>
        <a
          class={buttonVariants({ variant: 'outline', size: 'icon' })}
          href="https://mit-gdg.itch.io"
        >
          <Icon name="simple-icons:itchdotio" />
        </a>
      </div>
    </div>

    <div>
      <p class="font-bold">Contact</p>
      <p><a id="email-link">gdg-exec [at] mit [dot] edu</a></p>
    </div>

    <div>
      <p>
        <a href="https://accessibility.mit.edu">Accessibility</a>
      </p>
    </div>
  </div>
</div>

<style>
  p a {
    @apply underline;
  }
</style>
