<div class="w-full bg-black px-6 py-10 text-sm text-white">
  <!-- Content within black background -->
  <div class="mx-auto grid max-w-4xl grid-rows-2 gap-4 md:grid-cols-2">
    <div>
      <p class="font-bold">Contact</p>
      <a href="mailto:gdg-exec@mit.edu">gdg-exec@mit.edu</a>
    </div>

    <div>
      <p class="font-bold">Accessibility</p>
      <p class="text-muted-dark">
        MIT is committed to providing an environment that is accessible to
        individuals with disabilities. If you cannot access content or use
        features on our website due to a disability, please let us know.
      </p>
    </div>
  </div>
</div>

<style>
  a {
    @apply text-muted-dark underline;
  }
</style>
