---
const { name, position, description } = Astro.props;
---

<div class="darK:bg-neutral-900 border-2 bg-white px-6 py-4 shadow-md">
  <p class="text-2xl font-black">{name}</p>
  <p class="text-sm text-muted">{position}</p>
  <p>{description}</p>
</div>
